<template>
  <footer class="footer">
    <div class="grid grid-flow-row gap-8 px-4">
      <h6>In samenwerking met de coöperatie <a href="https://www.nieuwwestbrabant.nl/" target="_blank" class="link inline">Nieuw West-Brabant</a></h6>
      <FooterContribute />
      <FooterCClicense />
    </div>
    <div class="px-4">
      <FooterNewsletterForm />
    </div>
  </footer>
</template>