<template>
  <header class="hero">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <NuxtLink to="/" class="font-bold text-4xl text-accent"><img src="~/assets/shield-halved-solid.svg" class="inline h-12"> Digitaal welzijn</NuxtLink>
        <p class="py-6">"niet sociaal maken wat niet sociaal is"</p>
      </div>
    </div>
  </header>
</template>