<template>
  <div class="text-xs">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="Creative Commons-Licentie"  src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a>
    <p class="mt-2">
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">digitaal-welzijn.nl</span> van <a xmlns:cc="http://creativecommons.org/ns#" href="https://sebastix.nl" property="cc:attributionName" rel="cc:attributionURL" class="link">Sebastian Hagens</a> is in licentie gegeven volgens een <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="link">Creative Commons Naamsvermelding 4.0 Internationaal-licentie</a>
    </p>
  </div>
</template>