<template>
  <form method="post" action="https://mailings.sebastix.dev/subscription/form" class="listmonk-form pb-4">
    <h3 class="font-bold text-2xl">Schrijf je in voor de nieuwsbrief</h3>
    <input type="hidden" name="nonce" />
    <input type="email" name="email" required placeholder="E-mail" class="shadow-2xl rounded-lg p-4 w-full mt-4 border-2 border-accent/50" />
    <p class="hidden">
      <input id="5bee3" type="checkbox" name="l" checked value="5bee3b11-3f47-4021-bd66-9c278a550bc1" />
      <label for="5bee3">digitaal-welzijn.nl</label>
    </p>
    <input type="submit" value="Inschrijven" class="btn btn-accent w-full mt-4" />
  </form>
</template>