<template>
  <div class="container mx-auto max-w-screen-lg">
    <Header />
    <NuxtPage />
    <Navigation />
    <Footer />
  </div>
</template>
<style lang="scss">
 li > ul {
   list-style: disc;
   padding-left: 20px;
 }
</style>
<script setup>
  // scrollToTop does not work yet in Nuxt3 after you have clicked a NuxtLink
  // related cissue: https://github.com/nuxt/bridge/issues/457
  // snippet from https://github.com/nuxt/framework/discussions/1661#discussioncomment-3504111 to fix this
  onUpdated(() => window.scrollTo(0, 0));
</script>
<script>
import Navigation from "../components/Navigation";
export default {
  components: {Navigation}
}
</script>