<template>
  <main class="card bg-neutral-content/40 backdrop-blur-sm backdrop-grayscale text-accent-content shadow-2xl">
    <div class="card-body prose">
      <ContentDoc />
    </div>
  </main>
</template>

<style lang="scss">
  .prose h2 > a {
    text-decoration: none;
  }
</style>